body {
  background-color: aliceblue;
  text-align: center;

}

.App {
  background-color: white;
  text-align: center;
}
.card {
  min-width: 30%;

}
.container {
  display: flex;
 
  justify-content: center;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
#NavBarHad{
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  

}

.navbar-collapse {
  flex-grow: 0;


}
.reactJewishDatePicker .selectedDate {
  padding: 2px 15px 2px 5px;
  border: 1px solid var(--color);
  border-radius: 4px;
  user-select: none;
  min-height: 20px;
  text-align: center;
  position: relative;
  font-size: smaller;
  margin-left: 33%;
  margin-right: 33%;
}
.Date {
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
}
.orel {
  display: inline-block;
  width: 30vw;
  padding: 0.5vw;
}
.card {
  margin-bottom: 2rem;
}
.col{
  display: flex;
  justify-content: center;
  align-items: center;
}

#h4_ChatObEvent{
  position: fixed;
  display: inline-block;
  width: 50rem;
  top: 4rem;
  background-color: rgb(220, 226, 233);
}
#inputSendComm{
  /* background-color: black; */
  position: fixed;
    display: inline-block;
    bottom: 1rem;
    left: 40%;
}
.fixedContainer{
  position: relative;
  display: flex;
  justify-content: center;
}
#formPas
{
  display: flex;
}